.lampe {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

/* Klasse die angewendet wird, wenn die Lampe aus ist */
.lampeAus {
  background-color: #333333 !important; // !important ist zwingend, da sonst die Hintergrundfarbe aus der CSS-Klasse nicht
                                          // angewendet wird, da die Hintergrundfarbe aus dem Style-Attribute höherwertig ist
}

/* Klasse die angewendet wird, wenn die Lampe defekt ist */
.lampeDefekt {
  visibility: hidden;
}
