<app-lampe [farbe]="'red'" [ein]="lampeRotEin" [controlsAusblenden]="true" (gingDefekt)="lampeMeldetDefekt()"></app-lampe>
<app-lampe [farbe]="'orange'" [ein]="lampeOrangeEin" [controlsAusblenden]="true" (gingDefekt)="lampeMeldetDefekt()"></app-lampe>
<app-lampe [farbe]="'darkgreen'" [ein]="lampeGruenEin" [controlsAusblenden]="true" (gingDefekt)="lampeMeldetDefekt()"></app-lampe>
<button type="button" (click)="tick()" *ngIf="!automodus">Tick</button>
<button type="button" (click)="repariereAlleLampen()" *ngIf="!automodus">Alle Lampen reparieren</button>
<div class="alarm" *ngIf="lampeDefekt">Eine Lampe ist defekt!</div>
